body {
    margin: 0;
}

h1 {
    margin-top: 30px;
    margin-bottom: 40px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

#navbar #current-user {
    margin-right: auto;
    font-size: 14px;
    color: #ccc;
}

#navbar button {
    color: white;
    background: none;
    border: none;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

#leaderboardButton:hover {
    color: #007bff;
}

#lobbyButton:hover {
    color: #007bff;
    background-color: transparent;
}

#logoutButton:hover {
    color: #e00000;
}

/* Online Players List */
#players {
    margin: 20px auto;
    max-width: 600px;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 2px 5px #0000001a;
}

/* Individual player entry */
#players .player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#players .player:last-child {
    border-bottom: none;
}

/* Username styling */
#players .player .username {
    font-size: 16px;
    font-weight: bold;
    color: #444;
}

/* Challenge button */
#challengeButton {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#challengeButton:hover {
    background-color: #0161c8;
}

/* Challenge Notifications */
#notification {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f4f4f4;
    border-top: 1px solid #ccc;
    padding: 15px;
    display: none;
}

/* Accept challenge button */
#acceptBtn {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#acceptBtn:hover {
    background-color: #0161c8;
}

/* Decline challenge button */
#declineBtn {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #e60000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#declineBtn:hover {
    background-color: #c60303;
}