/* GLOBAL STYLE */
/* This style should apply to all pages to have consistant styling */

/* Challenge button */
#challengeButton {
    padding: 5px 10px;
    font-size: 14px;
    background: linear-gradient(45deg, #76e3ea, #ff6ec4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#challengeButton:hover {
    background: linear-gradient(45deg, #61cbd2, #e468b2);
}

/* Challenge Notifications */
#notification {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f4f4f4;
    border-top: 1px solid #ccc;
    padding: 15px;
    display: none;
}

/* Accept challenge button */
#acceptBtn {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#acceptBtn:hover {
    background-color: #0161c8;
}

/* Decline challenge button */
#declineBtn {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #e60000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#declineBtn:hover {
    background-color: #c60303;
}