/* GLOBAL STYLE */
/* This style should apply to all pages to have consistant styling */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

/* Navigation Bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

#navbar #current-user {
    margin-right: auto;
    font-size: 14px;
    color: #ccc;
}

#navbar button {
    font-size: 16px;
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: white; /* Default color */
    background: none;
    cursor: pointer;
}

#leaderboardButton:hover {
    background: linear-gradient(45deg, #76e3ea, #ff6ec4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes text use gradient */
}

#lobbyButton:hover {
    background: linear-gradient(45deg, #76e3ea, #ff6ec4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* Makes text use gradient */
}

#logoutButton:hover {
    color: #e00000;
}

/* Challenge button */
#challengeButton {
    padding: 5px 10px;
    font-size: 14px;
    background: linear-gradient(45deg, #76e3ea, #ff6ec4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#challengeButton:hover {
    background: linear-gradient(45deg, #0161c8, #f06cbc);
}

/* Challenge Notifications */
#notification {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f4f4f4;
    border-top: 1px solid #ccc;
    padding: 15px;
    display: none;
}

/* Accept challenge button */
#acceptBtn {
    padding: 5px 10px;
    font-size: 14px;
    background: linear-gradient(45deg, #76e3ea, #ff6ec4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}
#acceptBtn:hover {
    background: linear-gradient(45deg, #0161c8, #f06cbc);
    transform: scale(1.05);
}

/* Decline challenge button */
#declineBtn {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #e60000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#declineBtn:hover {
    background-color: #b60e0e;
    transform: scale(1.05);
}

#name, .name {
    font-size: 1.2rem; /* Slightly larger font for prominence */
    font-weight: bold; /* Makes the name stand out */
}

#username, .username {
    font-size: 0.9rem; /* Smaller than the name */
    font-weight: normal; /* Less prominent */
    color: gray; /* Low contrast to keep it subtle */
    margin-left: 5px; /* Adds some space from the name */
}