body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#gameBoard {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    height: 70vh;
    width: 70vh;
}

#gameBoard td {
    border: black solid 3px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 35px;
}

#status {
    margin-top: 20px;
    font-size: 1.5rem;
}

#player1Stats {
    width:200px;
    height: 100vh;
    position:absolute;
    top:0;
    left:0;
    background:#d9d9d9;
}

#player1Stats p:first-of-type {
    color: #3232e9;
    font-size: x-large;
    font-weight:bold;
}

#player2Stats {
    width:200px;
    height: 100vh;
    position:absolute;
    top:0;
    right:0;
    background:#d9d9d9;
    vertical-align: middle;
}

#player2Stats p:first-of-type {
    color: #d81818;
    font-size: x-large;
    font-weight:bold;
}

#gameBoard td {
    background-color: #FFFFFF;
}